<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img src="{{film.poster_path}}" alt="Product Image" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h1 class="mb-4">{{film.title}}</h1>
      <p>{{film.overview}}</p>
      <h3 class="mb-4"> {{film.original_language}}</h3>
      <div class="mb-4">
        <span class="badge badge-secondary p-2 mr-2">{{film.vote_average}} étoiles</span>
        <span class="text-muted">(xx avis)</span>
      </div>
      <button type="button" class="btn btn-primary">Ajouter au panier</button>
    </div>
  </div>
</div>
